.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $color-primary;

  &__bar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 1px $color-border;
    background-color: $color-primary;

    // invisible element on phone and tab device
    & .navigation-list-desktop {
      display: none;
    }

    // Navbar top on desktop device
    @include respond(desktop) {
      box-shadow: none;
      max-width: 100rem;
      margin: auto;

      & .navigation__toggle {
        display: none;
      }
      & .logo-icon {
        order: 1;
      }
      & .navigation-list-desktop {
        display: block;
        order: 2;
        & .navigation__list {
          display: flex;
        }
      }
    }
  }
  
  // Left navbar on phone and tab device
  &__nav {
    display: none;
    position: relative;
    height: 100vh;
    max-width: 81vw;
    background-color: $color-primary;
    z-index: -100;

    $self: &;
    &--title {
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem;
      color: $color-secondary;
    }

    @include respond(tab) {
      max-width: 40vw;
    }
    @include respond(desktop) {
      display: none;
    }
  }

  &__list {
    list-style: none;
  }
  &__item {
    position: relative;
    height: 6.4rem;

    // Border left
    &:active::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 95%;
      margin: auto 0 auto 2px;
      border: 1px solid $color-white;
      border-radius: 5px;
    }

    // Border-bottom 
    @include respond(desktop) {
      &:active::before {
        width: 95%;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 100%;
        margin-bottom: 2px;
      }
    }
  }

  // Link styling
  &__link {
    &:link,
    &:visited {
      display: block;
      height: 100%;
      padding: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-secondary;
      font-size: 1.6rem;
    }
  }
}
